@tailwind base;
@tailwind components;
@tailwind utilities;

.w-500px {
    width: 500px !important;
}

.h-500px {
    height: 500px !important;
}

.h-150px {
    height: 150px !important;
}

.w-800px {
    width: 800px !important;
}

.h-800px {
    height: 800px !important;
}
